@charset "UTF-8";
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(32, 28, 34);
    color: white;
        font-size: 18px;}

.content{width: 100%;}

a{color: white;
text-decoration: none;}

/* 메인 */
#center{position: absolute;
        top: 0;
        width: 100%;}

#port{text-align: center;}

#port_f{width: 40%;
        padding: 12%;}



        
/* about */
#width_about{width: 100%;}

#me{margin-left: -300px;
margin-top: 20px;}

        
#size01{width: 1280px;
        margin: 180px auto;
        font-size: 17px;
        margin-top: -60px;
        padding-left: 10px;}

#aboutme{margin-left: -80px;}
        
#profile{margin-top: -620px;
        margin-left: 700px;}

#profile table{display: flex;}

#profile td{padding-left: 150px;}

#profile .text{padding-left: 100px;}

#profile #icon_m{position: relative;
                top: -52px;
                left: 400px;}
#profile #icon_i{position: relative;
                top: -26px;
                left: 370px;}


#certificat{margin-top: 0px;
                margin-left: 700px;}

#certificat p:nth-of-type(2){margin-top: -15px;}

.text_cf{margin-top: -20px;
        margin-left: 105px;}

.text_cf p:nth-of-type(3){margin-top: -15px;}


#education{margin-top: -145px;
        margin-left: 1000px;}

#education p{margin-left: 105px;
                margin-top: 0px;
                width: 350px;}

#skill{margin-top: 40px;
        margin-left: 705px;}


#sk_icon{margin-top: -310px;
        margin-left: -380px;}




/* web */
.visual{margin-top: -200px;}


#web{margin-top: -20px;}

#pub_top{margin-top: 50px;}
#pub{margin-left: 750px;
        margin-bottom: 30px;}

#web_text{width: 400px;}

#web_text span{font-size: 14px;}

#web_img{margin: 0px;
        padding: 0;}

#web_img01{margin-top: -30px;
        padding: 0;}

#box{display: flex;}

#box p a{border: 1px white solid;
        border-radius: 7px;
        font-weight: bold;
        padding: 5px 12px;
        margin-right: 10px;}

#box a:hover{background-color: #fbe730;
                border: 1px rgb(25, 117, 176) solid;
                border-radius: 7px;
                font-weight: bold;
                color: rgb(25, 117, 176);
                padding: 5px 12px;}

#triangle01{width: 0px;
                height: 0;
                border-style: solid;
                border-width: 20px 40px 20px 0;
                border-color: transparent rgb(25, 117, 176) transparent transparent;
                margin-top: 200px;
                position: relative;
                left: 0px; /*top: 285px;*/
                top: 390px;
                z-index: 100;}

#triangle02{width: 0px;
                height: 0;
                border-style: solid;
                border-width: 20px 0 20px 40px;
                border-color: transparent transparent transparent rgb(25, 117, 176);
                margin-top: 200px;
                position: relative;
                left: 1260px; top: -920px;
                z-index: 100;}


.swiper-slide{display: flex;
                justify-content: space-around;}


    /* swiper */
.visual .swiper-container{max-width: 1300px;
                        height: 900px;
                        margin: 0 auto;
                        position: relative;}

.visual img{vertical-align: top;}

    /* swiper 하단 버튼 디자인  */
.visual .swiper-pagination{position: absolute;
                        left: 0; top: 780px;
                        z-index: 100;            
                        text-align: center;}

.visual .swiper-pagination .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        background: #fff;
        opacity: 1;}

.visual .swiper-pagination .swiper-pagination-bullet-active{
        background: #ffc0f7;}


#butt_top{margin-top: 100px;}


/* design */

#de_up{margin-top: 150px;}

.grid{display:grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 20px;
        grid-gap: 20px;
        position: relative;}
    
.grid-item{overflow: hidden;
        position: relative;
        /*width: 200px;*/}
    

    
        .hover-text {position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.788);
                color: #fff;
                opacity: 0;
                margin: 0; 
                transition: opacity .2s, visibility .2s;}
    
        .hover-text02 {position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.788);
                    color: #fff;
                    opacity: 0;
                    margin: 0; 
                    transition: opacity .2s, visibility .2s;}

        .hover-text03 {position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: rgba(0, 0, 0, 0.788);
                        color: #fff;
                        opacity: 0;
                        margin: 0; 
                        transition: opacity .2s, visibility .2s;}

        .hover-text04{position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: rgba(0, 0, 0, 0.788);
                        color: #fff;
                        opacity: 0;
                        margin: 0; 
                        transition: opacity .2s, visibility .2s;}    

        .hover-text05{position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: rgba(0, 0, 0, 0.788);
                        color: #fff;
                        opacity: 0;
                        margin: 0; 
                        transition: opacity .2s, visibility .2s;}    


        .hover-text span{position: absolute;
                        top: 50px;
                        left: 40px;
                        width: 100px;
                        border: 1px solid white;
                        border-radius: 10px;
                        padding: 10px;
                        text-align: center;}
    
        .hover-text02 span{position: absolute;
                        top: 140px;
                        left: 45px;
                        width: 130px;
                        border: 1px solid white;
                        border-radius: 10px;
                        padding: 10px;
                        text-align: center;}
    
        .hover-text03 span{position: absolute;
                        top: 60px;
                        left: 235px;
                        width: 130px;
                        border: 1px solid white;
                        border-radius: 10px;
                        padding: 10px;
                        text-align: center;}       

        .hover-text04 span{position: absolute;
                        top: 60px;
                        left: 130px;
                        width: 130px;
                        border: 1px solid white;
                        border-radius: 10px;
                        padding: 10px;
                        text-align: center;}

        .hover-text05 span{position: absolute;
                        top: 50px;
                        left: 60px;
                        width: 120px;
                        border: 1px solid white;
                        border-radius: 10px;
                        padding: 10px;
                        text-align: center;}       
                        
                        

        .grid-item:hover .hover-text {visibility: visible;
                                    opacity: 1;
                                    cursor: pointer;}
    
        .grid-item:hover .hover-text02 {visibility: visible;
                                    opacity: 1;
                                    cursor: pointer;}

        .grid-item:hover .hover-text03 {visibility: visible;
                                    opacity: 1;
                                    cursor: pointer;}

        .grid-item:hover .hover-text04{visibility: visible;
                                    opacity: 1;
                                    cursor: pointer;}

        .grid-item:hover .hover-text05{visibility: visible;
                                    opacity: 1;
                                    cursor: pointer;}    


#butt_bo{margin-top: 70px;}



#des{margin-top: 120px;
        margin-bottom: 40px;
        margin-left: 100px;}

#triangle03{width: 0px;
                height: 0;
                border-style: solid;
                border-width: 20px 40px 20px 0;
                border-color: transparent rgb(25, 117, 176) transparent transparent;
                margin-top: 200px;
                position: relative;
                left: 0px; top: 420px;
                z-index: 100;}

#triangle04{width: 0px;
                height: 0;
                border-style: solid;
                border-width: 20px 0 20px 40px;
                border-color: transparent transparent transparent rgb(25, 117, 176);
                margin-top: 200px;
                position: relative;
                left: 1260px; top: -950px;
                z-index: 100;}


/*footer*/
#footer{display: flex;
        justify-content: center;
        padding: 280px 0px 250px;}

#footer_text{margin-left: 75px;}

#contack_ic{display: flex;
        justify-content: center;
        margin-top: -150px;
        margin-left: 370px;
        margin-bottom: 150px;}

#contack_ic a:hover{color: #f594c0;}

#contack_ic img{margin-left: 40px;
                margin-right: 7px;
                margin-top: 18px;}


footer{border-top: 1px rgba(228, 228, 228, 0.651) solid;
        font-size: 13px;
        color: rgba(220, 220, 220, 0.486);
        text-align: center;}